@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.work_item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(162, 162, 162, 0.2), 0 0 40px rgb(0, 0, 0, 0.2),
    0 0 80px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}
.myWork_item:nth-child(even) .work_item {
  flex-direction: row-reverse;
}
.work_item_left {
  flex: 1;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work_item_left_content {
  padding: 2rem 0 2rem 3rem;
}
.work_item_left_content h1 {
  font-size: 2.5rem;
  /* font-weight: 600; */
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-family: 'Permanent Marker', cursive;
}
.work_item_left_content h5 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin: 5px 0;
  color: #5e5e5e;
}
.work_item_btn {
  margin-top: 4rem;
}
.work_item_btn a {
  text-decoration: none;
  padding: 8px 25px;
  margin-right: 8px;
  background: var(--btn--color);
  border: 2px solid var(--btn--color);
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(162, 162, 162, 0.1), 0 0 10px rgb(0, 0, 0, 0.1),
    0 0 20px rgb(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
}
.work_item_btn a:hover {
  color: var(--btn--color);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

/* ----- Right ----- */
.work_item_right {
  flex: 1;
}
.myWork_item:nth-child(odd) .work_item_right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.myWork_item:nth-child(even) .work_item_right {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.work_item_right_img {
  width: 100%;
  height: 100%;
}
.myWork_item:nth-child(odd) .work_item_right_img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.myWork_item:nth-child(even) .work_item_right_img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.work_item_right_img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
