.myWork {
  width: 100%;
  height: auto;
}
.myWork_wrapper {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.myWork_title {
  text-align: center;
  margin-bottom: 5rem;
}
.myWork_title h1 {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #141c3a;
}
.myWork_title p {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #161d33;
}
.myWork_items {
  width: 80%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 900px) {
  .myWork_items {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
  }
  .myWork_title {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 650px) {
  .myWork_items {
    width: 80%;
  }
  .myWork_title {
    margin-bottom: 2rem;
  }
  .myWork_title h1 {
    font-size: 2rem;
  }
  .myWork_title p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .myWork_items {
    width: 90%;
  }
}
