.header_container {
  width: 100%;
  /* padding: 5rem 0; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container_wrapper {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header_info .header_img {
  width: 420px;
  margin: auto;
}
.header_info .header_img img {
  width: 100%;
}
.header_content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.header_content h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.header_content h3 {
  font-size: 3rem;
  color: #141c3a;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.header_content h4 {
  font-family: 'Exo 2', sans-serif;
  color: #161d33;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.header_btn {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
}
.header_btn a {
  text-decoration: none;
}
.header_btn_left {
  transform: translateX(-0.5rem);
}
.header_btn_right {
  transform: translateX(0.5rem);
}
.floating_btn {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
