.confirmSend {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(107, 255, 107);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(27, 27, 27, 0.3);
  text-align: center;
  padding: 32px;

  letter-spacing: 2px;
}
.confirmSend h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  color: #000;
}
.confirmSend h5 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
